// .wrapper{
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: var(--header-height);
//     padding: 80px 0 120px 0;
//     color: var(--primary-text-3);
//     background-color: var(--primary-bg-1);
// }
// .container{
//     width: var(--content-width);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }


/* Global styles */

  
.wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 50px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .title {
        font-size: 3rem;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .content {
        color: #555;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.8;
        text-align: justify;
    }
}



.card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    .card-title {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
    }
    
    .card-content {
        font-size: 1.8rem;
        color: #444;
        margin: 5px 0;
    }
}

.card:hover {
    transform: translateY(-4px);
}


.footer {
    padding: 30px;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    p {
        margin: 0;
        font-size: 1.2rem;
    }
}

// p {
//     font-size: 16px;
//     color: #333;
//     background-color: #e1f7d5;
//     padding: 10px;
//     border-radius: 5px;
//     margin-top: 20px;
//     white-space: pre-wrap; 
// }

// auto answer

.auto__answer {
    margin: 30px auto 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    .message {
        padding: 12px;
        border-radius: 15px;
        width: fit-content;
        max-width: 80%;
        word-wrap: break-word;

        &.user {
            color: #fff;
            background-color: #325aff;
            align-self: flex-end;
        }
        &.bot {
            color: #333;
            background-color: #e1f7d5;
            align-self: flex-start;
        }
    }
}
  
.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0 20px 0;

    input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
    }


    button {
        padding: 12px;
        color: #fff;
        background-color: #3B3B3B;
        border: none;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #e0a31e;
    }
}
  

  


  


