.wrapper{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.container{
    width: var(--content-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-1);


    a{
        color: var(--primary-text-1);
    }
    button{
        background-color: #ddd;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: #f3f1f1;
        }
    }
}
.auth{
    display: flex;
    gap: 20px;

    a:first-child{
        color: var(--primary-text-1);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            color: #ddd;
        }
    }
    a:last-child{
        color: var(--primary-text-3);
        background-color: #ddd;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: #f3f1f1;
        }
    }
}