/* Modal Login ----------------------------------------------------------------------------------*/

.wrapper{
    min-height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--header-height);
    padding: 12px 24px;
    background-color: var(--primary-bg-2);
    overflow: hidden;
}
.container{
    width: 1200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
    color: var(--primary-text-1);
    border-radius: 20px;
}


/* Modal Login Header ----------------------------------------------------------------------------------*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.4;
        margin: 12px 0;
    }
    p{
        width: min(400px, 90%);
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
    }
}

/* Modal Login Body ----------------------------------------------------------------------------------*/

.body{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .result-register,
    .result-login{
        margin: 8px 0;
        color: var(--color-danger);
        font-size: 1.4rem;
    }
}
.wrap__input, .wrap__select{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body__item{
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .white{
        color: #fff!important;
    }
    .invalid{
        margin-top: 10px;
        padding-left: 8px;
        color: red!important;
        border-color: red!important;
    }
    label{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 10px 0 10px 8px;
    }
    &.check-remember{
        flex-direction: row;
        justify-content: start;
    }
    select{
        cursor: pointer;
        height: 44px;
        border-radius: 6px;
    }
    
}
.login__wrap-input {
    position: relative;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5f5f5f;
    background-color: var(--primary-bg-3);
    border-radius: 6px;

    &:focus-within{
        border-color: var(--color-success);
    }
    input{
        width: 100%;
        display: block;
        padding: 12px 42px 12px 20px;
        border: none;
        font-size: 1.4rem;
        color: var(--primary-text-1);
        background-color: transparent;
    }

    .login__right-icon{
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
        color: #8b8b8b;
        padding: 4px;
        cursor: pointer;
    }

}

.login__content-btn{
    width: 40%;
    margin-top: 30px;
    opacity: 0.8;
    transition: all 0.3s;

    &:hover{
        opacity: 1;
    }
    button{
        width: 100%;
        height: 44px;
        padding: 12px 20px;
        font-size: 1.6rem;
        font-weight: 600;
        background: #fff;
        border-radius: 6px;
        border: 1.5px solid #ddd;
        cursor: pointer;

        span svg{
            color: var(--primary-text-1);
            animation: spinner 1s linear infinite;
    
        }

    }

}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);

    }
}
.wrap__google-btn{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: var(--primary-bg-1);
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s linear;
    border: 1px solid transparent;

    &:hover {
        border-color: var(--color-success);
    }
}
.google__login-btn{

    display: flex;
    justify-content: center;
    align-items: center;    
    width: 255px;
    height: 36px;
    overflow: hidden;
}

.facebook__login-btn{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #4c69ba;
    cursor: pointer;
    transition: all .2s linear;
    border: 1px solid transparent;

    &:hover {
        border-color: var(--color-success);
    }
}
/* Modal Login Footer ----------------------------------------------------------------------------------*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-size: 1.4rem;
    color: var(--primary-text-1);

    a{
        text-decoration: underline;
    }
    > a{
        margin-top: 10px;
        margin-left: 4px;
        color: var(--primary-text-2);
        font-weight: 600; 

    }
}
.footer__register{
    padding: 24px 16px 0;
    font-size: 1.4rem;
    line-height: 1.8;

    a{  
        margin-left: 4px;
        color: var(--primary-text-2);
        font-weight: 600; 
    }
}
.footer__about{
    width: min(400px, 100%);
    text-align: center;
    padding: 16px;
    font-size: 1.4rem;
    line-height: 20px;

    a{
        color: var(--primary-text-1);
    }
    
}